<% content_for :content_title do %>
  <h1>Controls Available for <%= @os %> OS</h1>
<% end %>

<div>
  <%= form_with url: generate_controls_path, method: :post, local: true, data: { turbo: false }, id: 'controls-form' do %>
    <input type="hidden" name="os" value="<%= @os %>">
    <input type="hidden" name="format" value="html">

    <table class="table table-borderless">
      <thead>
        <tr>
          <th colspan='3' class="table-info">Benchmark Configuration Option</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
                <%= radio_button_tag 'option', 'only', true, id: 'option_only' %>
                <%= label_tag 'option_only', 'Only Selected Controls' %>
            </td>
            <td>
                <%= radio_button_tag 'option', 'ignore', false, id: 'option_ignore' %>
                <%= label_tag 'option_ignore', 'Ignore Selected Controls' %>
            </td>
            <td>
              <%= radio_button_tag 'option', 'all', false, id: 'option_all' %>
              <%= label_tag 'option_all', 'Add All Controls' %>
            </td>
          </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover">
      <thead>
        <tr class="table-info">
          <th><%= check_box_tag '', false, id: 'option_all_chk' %> Select</th>
          <script>
            
          </script>
          <th>Control Id</th>
          <th>Control Name</th>
        </tr>
      </thead>
      <tbody>
        <% @controls.each do |control| %>
          <tr>
            <td><%= check_box_tag 'controls[]', control, false, class: 'control-checkbox' %></td>
            <td><%= label_tag "controls_#{control}", "#{@mapping_data[control.to_s][0]}" %></td>
            <td><%= label_tag "controls_#{control}", "#{@mapping_data[control.to_s][1]}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= submit_tag 'Generate Heira File', class: 'btn btn-primary submit-btn' %>
    </div>
  <% end %>
</div>

<script>

  let option_all_chk = document.getElementById('option_all_chk');
  option_all_chk.addEventListener('change', function(e) {
    let checkboxes = document.querySelectorAll('.control-checkbox');
    checkboxes.forEach(checkbox => checkbox.checked = option_all_chk.checked);
  });

  let option_all = document.getElementById('option_all');
  option_all.addEventListener('change', function(e) {
    document.querySelectorAll('.control-checkbox').forEach(checkbox => checkbox.checked = true)
  });

  // let option_none = document.getElementById('option_none');
  // option_none.addEventListener('click', function(e) {
  //   document.querySelectorAll('.control-checkbox').forEach(checkbox => checkbox.checked = false)
  // });
</script>
