<%# <h1>OsControls#show</h1>
<p>Find me in app/views/os_controls/show.html.erb</p> %>
<h1>Controls for <%= @os %></h1>
<%= form_with url: generate_controls_path, method: :post, local: true, data: { turbo: false }, id: 'controls-form' do %>
  <input type="hidden" name="os" value="<%= @os %>">
  
  <table>
    <tbody id="controls-container">
      <% @controls.each do |control| %>
        <tr>
          <td width = '5%'><%= check_box_tag 'controls[]', control, false, class: 'control-checkbox' %></td>
          <td width = '15%'><%= label_tag "controls_#{control}", "#{@mapping_data[control.to_s][0]}" %></td>
          <td width = '80%'><%= label_tag "controls_#{control}", "#{@mapping_data[control.to_s][1]}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2>Select Option:</h2>
  <div>
    <%= radio_button_tag 'option', 'ignore', true, id: 'option_ignore' %>
    <%= label_tag 'option_ignore', 'Ignore' %>
  </div>
  <div>
    <%= radio_button_tag 'option', 'only', false, id: 'option_only' %>
    <%= label_tag 'option_only', 'Only' %>
  </div>
  <div>
    <%= radio_button_tag 'option', 'all', false, id: 'option_all' %>
    <%= label_tag 'option_all', 'All' %>
  </div>
  
  <script>
   let option_all = document.getElementById('option_all');
   option_all.addEventListener('change', function(e) {
      document.querySelectorAll('.control-checkbox').forEach(checkbox => checkbox.checked = true)
   });
  </script>

  <%= submit_tag 'Generate Hiera File' %>  
<% end %>




